.numIndicator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #D9D9D9;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 300px;
  padding: 0;
  list-style: none;
}

li {
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}